* {
    box-sizing: border-box;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
}

.one div.main.red {
    color: red;
}

.two .parent > div.child:last-child {
    color: red;
}

.three div.parent > div.child:last-child {
    color: red;
}

.four > div[title]:not(.no-need) {
    color: red;
}

.five div:nth-of-type(2) div[title=Elzero] {
 color: red;
}

.six div div:nth-last-of-type(2):not(.no-need div) {
    color: red;
}

.seven div:nth-of-type(1) div:nth-child(5){
    color: red;
}

.eight div :not(h3, div:first-child, div:last-child) {
    color: red;
}
